<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <codeBase version="2.0.8.0" href="..\Libraries\log4net\log4net.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BEA.TFS.Common.ExtensionMethods" publicKeyToken="c95e650ed5b2ff69" culture="neutral" />
        <codeBase version="1.0.0.0" href="..\libraries\BEA.TFS.Common.ExtensionMethods\BEA.TFS.Common.ExtensionMethods.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BEA.TFS.Common" publicKeyToken="c95e650ed5b2ff69" culture="neutral" />
        <codeBase version="1.0.0.0" href="..\libraries\BEA.TFS.Common\BEA.TFS.Common.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <codeBase version="12.0.0.0" href="..\Libraries\Newtonsoft.Json\Newtonsoft.Json.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BEA.TFS.CommonUtility" publicKeyToken="c95e650ed5b2ff69" culture="neutral" />
        <codeBase version="1.0.0.0" href="..\libraries\BEA.TFS.CommonUtility\BEA.TFS.CommonUtility.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
