<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ARRDataImport.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <runtime>
      <generatePublisherEvidence enabled="false"/>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
          <codeBase version="2.0.8.0" href="..\Libraries\log4net\log4net.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="BEA.TFS.Common.Entities" publicKeyToken="c95e650ed5b2ff69" culture="neutral"/>
          <codeBase version="0.0.0.0" href="..\libraries\BEA.TFS.Common.Entities\BEA.TFS.Common.Entities.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="BEA.TFS.Common.ExtensionMethods" publicKeyToken="c95e650ed5b2ff69" culture="neutral"/>
          <codeBase version="0.0.0.0" href="..\libraries\BEA.TFS.Common.ExtensionMethods\BEA.TFS.Common.ExtensionMethods.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="BEA.TFS.Common" publicKeyToken="c95e650ed5b2ff69" culture="neutral"/>
          <codeBase version="0.0.0.0" href="..\libraries\BEA.TFS.Common\BEA.TFS.Common.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
          <codeBase version="12.0.0.0" href="..\Libraries\Newtonsoft.Json\Newtonsoft.Json.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="BEA.TFS.CommonUtility" publicKeyToken="c95e650ed5b2ff69" culture="neutral"/>
          <codeBase version="0.0.0.0" href="..\libraries\BEA.TFS.CommonUtility\BEA.TFS.CommonUtility.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="BEA.TFS.ParallelRun" publicKeyToken="c95e650ed5b2ff69" culture="neutral"/>
          <codeBase version="0.0.0.0" href="..\libraries\BEA.TFS.ParallelRun\BEA.TFS.ParallelRun.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="BEA.TFS.InterfaceReport" publicKeyToken="c95e650ed5b2ff69" culture="neutral"/>
          <codeBase version="0.0.0.0" href="..\libraries\BEA.TFS.InterfaceReport\BEA.TFS.InterfaceReport.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="BEA.TFS.Common.FileSystem" publicKeyToken="c95e650ed5b2ff69" culture="neutral"/>
          <codeBase version="0.0.0.0" href="..\libraries\BEA.TFS.Common.FileSystem\BEA.TFS.Common.FileSystem.dll"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
    <startup>         
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
    <userSettings>
        <ARRDataImport.My.MySettings>
            <setting name="INI_FILE" serializeAs="String">
                <value>GDRDataImport.INI</value>
            </setting>
            <setting name="DATA_SOURCE_INI_FILE" serializeAs="String">
                <value>D:\TFSConfig\DataSource.INI</value>
            </setting>
            <setting name="EMAIL_INI_FILE" serializeAs="String">
                <value>D:\TFSConfig\Email.INI</value>
            </setting>
        </ARRDataImport.My.MySettings>
    </userSettings>
</configuration>
